<div *ngIf="!isSent">
<div style="background-color:white;">
    <div class="container">
        <h2 style="text-align:center;">Checkout</h2>
        <div class="row" style="background-color:grey; height:2px; margin-top: 15px;"></div>
        <div class="row" style="margin:5px 0px 5px 0px;">
            <ul class="nav nav-tabs">
                <li *ngIf="activeTab == 'sa'" class="active disabled" style="color:black"><a href="#sa">SHIPPING ADDRESS</a></li>
                <li *ngIf="activeTab != 'sa'" class="disabled" style="color:black"><a href="#sa">SHIPPING ADDRESS</a></li>
                <li *ngIf="activeTab == 'pi'" class="active disabled" style="margin-left:325px; color:black;"><a href="#pi">PAYMENT INFO</a></li>
                <li *ngIf="activeTab != 'pi'" class="disabled" style="margin-left:325px; color:black;"><a href="#pi">PAYMENT INFO</a></li>
                <li *ngIf="activeTab == 'co'" class="active disabled" style="float:right; color:black;"><a href="#co">CONFIRM ORDER</a></li>
                <li *ngIf="activeTab != 'co'" class="disabled" style="float:right; color:black;"><a href="#co">CONFIRM ORDER</a></li>
            </ul>
        </div>
        <div class="row" style="background-color:grey; height:2px;"></div>
        <div class="tab-content">
            <div *ngIf="activeTab == 'sa'" id="sa" class="tab-pane fade in active" style="margin-bottom:10px;">
                    <div class="form-group row" style="margin-top:5px; margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *First Name<br />
                            <span *ngIf="missing('firstname')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.FirstName" placeholder="First Name" (click) ="shippingEdit('firstname')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *Last Name<br />
                            <span *ngIf="missing('lastname')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.LastName" placeholder="Last Name" (click) ="shippingEdit('lastname')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *Address 1<br />
                            <span *ngIf="missing('address1')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.Address1" placeholder="Address 1" (click) ="shippingEdit('address1')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">Address 2</label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.Address2" placeholder="Address 2" (click) ="shippingEdit('address2')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *City<br />
                            <span *ngIf="missing('city')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.City" placeholder="City" (click) ="shippingEdit('city')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *State/Province<br />
                            <span *ngIf="missing('stateprov')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.StateProv" placeholder="State/Province" (click) ="shippingEdit('stateprov')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *Zip Code<br />
                            <span *ngIf="missing('zipcode')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="number" [(ngModel)]="info.ZipCode" placeholder="Zip Code" (click) ="shippingEdit('zipcode')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *Country<br />
                            <span *ngIf="missing('country')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="text" [(ngModel)]="info.Country" placeholder="Country" (click) ="shippingEdit('country')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *Phone Number<br />
                            <span *ngIf="missing('phonenum')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="tel" [(ngModel)]="info.PhoneNumber" placeholder="Phone Number" (click) ="shippingEdit('phonenum')">
                        </span>
                    </div>
                    <div class="form-group row" style="margin-bottom:5px;">
                        <label class="col-sm-2 col-form-label">
                            *E-mail<br />
                            <span *ngIf="missing('email')" class="badge" style="background-color:red">MISSING</span>
                        </label>
                        <span class="col-sm-9">
                            <input class="form-control" type="email" [(ngModel)]="info.Email" placeholder="E-mail" (click) ="shippingEdit('email')">
                        </span>
                    </div>
                    <div class="row" style="text-align:center;">
                        *Required Information to Process Order
                        <button type="button" class="btn" (click)="pageCart()">Back</button>
                        <button type="button" class="btn" (click) ="proceed('pi')">Proceed</button>
                    </div>
                </div>
            <div id="pi" *ngIf="activeTab == 'pi'" class="tab-pane fade in active">
                <div class="col-sm-6">
                    <div style=" margin:20px 0px 10px 0px; text-align:center;">
                        <button type="button" class="btn-group-sm" (click)="typeClick('visa')">VISA</button>
                        <button type="button" class="btn-group-sm" (click)="typeClick('master')">Master</button>
                        <button type="button" class="btn-group-sm" (click)="typeClick('disco')">Disco</button>
                        <button type="button" class="btn-group-sm" (click)="typeClick('amex')">Amex</button>
                    </div>
                    <div style="border-bottom:medium #000000 solid;">
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Card Type:<br />
                                <span *ngIf="missing('type')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <select [(ngModel)]="card.CardType">
                                    <option *ngFor="let x of cardTypes" [value]="x" [selected]="card.CardType == x" (click)="cardEdit('type')" placeholder="Card Type">{{x}}</option>
                                </select> 
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Card Number:<br />
                                <span *ngIf="missing('num')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input class="form-control" type="number" [(ngModel)]="card.CardNumber" (click)="cardEdit('num')" placeholder="Card Number">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Expiration Date:<br />
                                <span *ngIf="missing('date')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input class="form-control" type="month" [(ngModel)]="card.ExpirationDate" (click)="cardEdit('date')" placeholder="Expiration Date">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Security Code:<br />
                                <span *ngIf="missing('code')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input class="form-control" type="number" ng-pattern=".{4,4}" [(ngModel)]="card.SecurityCode" (click)="cardEdit('code')" placeholder="Security Code">
                            </span>
                        </div>
                    </div>
                    <div>
                        <h3>PROMOTION CODE</h3>
                        <p>Enter only one promotion code per order</p>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-2 col-form-label">Promotion:</label>
                            <span class="col-sm-9">
                                <input class="form-control" type="number" ng-pattern=".{4,4}" (click)="cardEdit('promo')" [(ngModel)]="card.PromotionCode" placeholder="Promotion Code">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="float:right;">
                    <div class="row" style="margin:5px 5px 10px 5px;">
                        <div style="font-size:16px;">Billing Address</div>
                        <div class="form-check" style="text-align:center; font-size:16px;">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" checked (change)="$event.target.checked? check(true) : uncheck(false)">
                                <b><i>Same as Shipping Address</i></b>
                            </label>
                        </div>
                    </div>
                    <div style="border-left:thin #000000 solid; padding-left:10px;">
                        <div class="form-group row" style="margin-top:5px; margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *First Name<br />
                                <span *ngIf="missing('firstname')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.FirstName" placeholder="First Name">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.FirstName" placeholder="First Name">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Last Name<br />
                                <span *ngIf="missing('lastname')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.LastName" placeholder="Last Name">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.LastName" placeholder="Last Name">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Address 1<br />
                                <span *ngIf="missing('address1')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.Address1" placeholder="Address 1">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.Address1" placeholder="Address 1">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">Address 2</label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.Address2" placeholder="Address 2">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.Address2" placeholder="Address 2">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *City<br />
                                <span *ngIf="missing('city')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.City" placeholder="City">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.City" placeholder="City">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *State/Province<br />
                                <span *ngIf="missing('stateprov')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.StateProv" placeholder="State/Province">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.StateProv" placeholder="State/Province">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Zip Code<br />
                                <span *ngIf="missing('zipcode')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="number" [(ngModel)]="bInfo.ZipCode" placeholder="Zip Code">
                                <input *ngIf="!checked" class="form-control" type="number" [(ngModel)]="bInfo.ZipCode" placeholder="Zip Code">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Country<br />
                                <span *ngIf="missing('country')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="text" [(ngModel)]="bInfo.Country" placeholder="Country">
                                <input *ngIf="!checked" class="form-control" type="text" [(ngModel)]="bInfo.Country" placeholder="Country">
                            </span>
                        </div>
                        <div class="form-group row" style="margin-bottom:5px;">
                            <label class="col-sm-3 col-form-label">
                                *Phone Number<br />
                                <span *ngIf="missing('phonenum')" class="badge" style="background-color:red">MISSING</span>
                            </label>
                            <span class="col-sm-9">
                                <input *ngIf="checked" disabled class="form-control" type="tel" [(ngModel)]="bInfo.PhoneNumber" placeholder="Phone Number">
                                <input *ngIf="!checked" class="form-control" type="tel" [(ngModel)]="bInfo.PhoneNumber" placeholder="Phone Number">
                            </span>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        *Required Information to Process Order
                        <button type="button" class="btn" (click)="proceed('co')">Proceed</button>
                    </div>
                </div>

            </div>
            <div id="co" *ngIf="activeTab == 'co'" class="tab-pane fade in active">
                <div class="containter" style="margin:0px 100px 0px 100px">
                    <p>
                        Your order is now ready for processing. Please review it carefully <br />
                        To change your order, click 'Edit Order'.<br />
                        To order, click 'Order Now'.
                    </p>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Items Ordered</th>
                                <th style="text-align:center;">Qty.</th>
                                <th  style="text-align:center;">Price</th>
                                <th  style="text-align:center;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>
                                <b>Ship Package To:</b><br />
                                {{info.FirstName}} {{info.LastName}}<br />
                                {{info.Address1}} {{info.Address2}}<br />
                                {{info.City}},{{info.StateProv}} {{info.ZipCode}}<br />
                                {{info.Country}}<br />
                                {{info.PhoneNumber}}<br />
                                <br />
                                <br />
                                {{info.Email}}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <b>Billing Information:</b><br />
                                {{bInfo.FirstName}} {{bInfo.LastName}}<br />
                                {{bInfo.Address1}} {{bInfo.Address2}}<br />
                                {{bInfo.City}},{{bInfo.StateProv}} {{bInfo.ZipCode}}<br />
                                {{bInfo.Country}}<br />
                                {{bInfo.PhoneNumber}}<br />
                            </p>
                        </div>
                        <div class="col-sm-3" style="text-align:right">
                            <p>
                                Merchandise Total<br />
                                Shipping & Handling<br />
                                Tax<br />
                                <br />
                                Order Total<br />
                                Total Charged To Card<br />
                            </p>
                        </div>
                        <div class="col-sm-3" style="text-align:right">
                            <p>
                                {{priceNum(cost())}}<br />
                                7.00<br />
                                {{priceNum(tax())}}<br />
                                {{priceNum(total())}} <br />
                                {{priceNum(total())}} <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div style="text-align:right; margin-top:25px">
                    <button type="button" class="btn" (click)="edit()">Edit Order</button>
                    <button type="button" class="btn" (click)="sent()">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div *ngIf="isSent">
    <h1 style="vertical-align:middle; text-align:center">Your order has been sent</h1>
</div>
