<div >
    <div class="col-lg-8" style="margin-top:20px">
        <table class="table table-hover" style="margin:5px 5px 5px 5px;">
            <thead>
                <tr>
                    <th>Shopping Cart</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.cartItems" style="border-top-color:black">
                    <!--ngrepeat-->
                    <td><img src="{{item.pic}}" style="width:50px; height:50px"/></td>
                    <td>{{item.Name}}</td>
                    <td>{{priceNum(item.Price)}}</td>
                    <td>{{item.Quantity}}
                        <button style="margin-left:5px" type="button" class="btn-sm" (click)="inc(item.Id)">+</button>
                        <button type="button" class="btn-sm" (click)="dec(item.Id)">-</button>
                    </td>
                    <td><button type="button" class="btn" (click)="delete(item.Id)">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 container" style="margin-top:20px; text-align:center;">
        <div style="border-color:black; background-color:gray; text-align:center">
            <span><b>Subtotal ({{count()}} items): {{priceNum(cost())}}</b></span>
            <button type="button" class="btn-block" style="width:400px; height:25px;  margin: 5px 5px 5px 5px; background-color:purple; color:white;" (click)="proctoCheck()">Proceed to Checkout</button>
            <button type="button" class="btn-block" style="width:400px; height:25px; margin: 5px 5px 5px 5px; background-color:white" (click)="home()">Continue Shopping</button>
        </div>
    </div>
</div>