<div class="container" style="width:auto">
    <div class="row" style="background-color:black; height:3px"></div>
    <div class="row" style="background-color:gray;">
        <input type="text" [(ngModel)]="queryString" (ngModelChange) ="search()" id="search" placeholder="Search" style="border-radius:5px; border-color:transparent; margin-left:10px;"/>
        <button *ngIf="!newItems" type="button" class="btn" style="float:right; margin-right:5px;" (click)="pageCart()"><img src="HCI_Cart.png" style="height:20px; width:20px;" /></button>
        <button *ngIf="newItems" type="button" class="btn" style="float:right; background-color:purple; margin-right:5px;" (click)="pageCart()"><img src="HCI_Cart.png" style="height:20px; width:20px;" /></button>
    </div>
    <div class="row" style="background-color:black; height:3px"></div>
    <div>
        <div class="col-lg-1" style="padding-left:10px;padding-top:10px;">
            <label style="font-size:18px; margin-top:20px;"><b>Filters:</b></label>
            <div>
                <label style="font-size:16px; margin-bottom:0px;"><i>Color</i></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" (change)="$event.target.checked? check('purple') : uncheck('purple')"> Purple
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" (change)="$event.target.checked? check('black') : uncheck('black')"> Black
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" (change)="$event.target.checked? check('white') : uncheck('white')"> White
                    </label>
                </div>
            </div>

            <div style="margin-top:10px">
                <label style="font-size:16px; margin-bottom:0px;"><i>Category</i></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" (change)="$event.target.checked? check('hoodie') : uncheck('hoodie')"> Hoodie
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" value="hat" (change)="$event.target.checked? check('hat') : uncheck('hat')"> Hat
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input style="color:purple" class="form-check-input" type="checkbox" value="shirt" (change)="$event.target.checked? check('shirt') : uncheck('shirt')"> Shirt
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-11">
            <div *ngFor="let item of filteredCatalog" style="margin:20px 20px 20px 20px; padding:5px 15px 5px 15px;
        display:inline-block; text-align:center;">
                <div style="margin-bottom:5px">{{item.Name}}</div>
                <div style="margin-bottom:5px"><img src="{{item.pic}}" style="width:100px; height:100px;" /></div>
                <div class="row">
                    <span style="float:left">{{priceNum(item.Price)}}</span>
                    <button type="button" style="float:right; width:47px; height:20px; padding:0px 0px 0px 0px; vertical-align:middle;" class="btn" (click)="productCart(item.Id)">
                        <img *ngIf="!inCart(item.Id)" src="HCI_Cart.png" style="width:15px; height:15px; padding:0px 0px 0px 0px; vertical-align:middle; margin-bottom:3px" />
                        <span *ngIf="inCart(item.Id)"><b>In Cart</b></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>