<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="width:100%">
    <div class="container" style="padding: 0px 0px 0px 0px; width:100%">
        <div style="background-image:url(black-white-gradient.png);">
            <div style="padding:20px 0px 0px 0px;">
                <img style="width:100px; height:100px; margin-left:25px;" src="HCI_Logo.png" alt="logo" />
                <span style="float:right; padding: 50px 20px 0px 0px;">
                    <a href="#">Home |</a>
                    <a href="#">Messages |</a>
                    <a href="#">Help |</a>
                    <a href="#">Logout </a>
                </span>
                <tabs style="background-color:white;"></tabs>
            </div>
            </div>
        </div>
  </body>
</html>