<div class="row">
    <ul class="nav nav-tabs nav-justified" style="width: 600px; padding:0px 15px 0px 15px; font-size:x-large; float:left;">
        <li class="active nav-item"><a class="nav-link" routerLink="/Inventory" routerLinkActive="active" style="background-color:grey; border-bottom-color:black; color:white; padding:5px 15px 5px 15px;">INVENTORY</a></li>
        <li class="active nav-item"><a class="nav-link" routerLink="/Home" routerLinkActive="active" style="background-color:grey; border-bottom-color:black; color:white; padding:5px 15px 5px 15px;">HOME</a></li>
    </ul>
</div>
<div style="background-color:white;">
    <router-outlet></router-outlet>
</div>