<ul class="nav nav-tabs nav-justified" style="width: 600px; padding:0px 15px 0px 15px; font-size:x-large;">
    <li class="active nav-item"><a class="nav-link" routerLink="/Inventory" routerLinkActive="active" style="background-color:grey; border-bottom-color:black; color:white; padding:5px 15px 5px 15px;">INVENTORY</a></li>
    <!--<li class="active nav-item"><a class="nav-link" routerLink="/bsInfo" routerLinkActive="active" style="background-color:grey; border-bottom-color:black; color:white; padding:5px 15px 5px 15px;">BILLING & SHIPPING</a></li>-->
    <!--<li><a data-toggle="tab" href="#SEARCH" style="background-color:grey; color:white;  border-bottom-color:black; padding:5px 15px 5px 15px;">SEARCH</a></li>-->
</ul>
<div style="background-color:white;">
    <router-outlet></router-outlet>
</div>